body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    height: 50px;
    background-color: rgba(255,255,255,0.75);
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header:hover {
    background-color: rgba(255,255,255,1);
}

.navtext {
    margin-right: 15px;
	margin-left: 15px;
    cursor: pointer;
    font-size: 34px;
	transition: all 0.5s;
}

.navtext:hover {
	padding-left: 30px;
	padding-right: 30px;
}

#section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    color: white;
}

.article1 {
    display: flex;
    flex-direction: column;
	flex-basis: auto;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70%;
}

.hometext {
    font-size: 21px;
    text-shadow: 1px 1px 1px black;
    text-align: justify;
}

#section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #424242;
    width: 100%;
    color: white;
}

#article2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;

}

#article2text {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 21px;
    margin: 0;
}

#firsttext {
    margin-bottom: 20px;
}

#article2image {
    margin-left: 30px;
}

.rubrik {
    font-size: 55px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}