body {
    margin: 0;
    background: url('../../originalfiler/grafen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s;
    color: white;
    font-size: 1.5em;
    padding: 10px;
}

nav:hover {
    background-color: rgba(0,0,0,0.8);
}

.navtext {
    margin-right: 15px;
	margin-left: 30px;
    cursor: pointer;
	transition: all 0.5s;
}

.navtext:hover {
	padding-left: 15px;
	padding-right: 15px;
}

#starthype {
    position: relative;
    z-index: -1;
    display: block;
    height: 100vh;
}

.startcontent {
    display: flex;
    flex-direction: column;
	flex-basis: auto;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}

#article1 {
    background-color: rgba(0,0,0,0.75);
    width: 50%;
    height: 75%;
    word-wrap: break-word;
    color: white;
    padding: 10px;
    padding-left: 20px;
}
